<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

    <script>

        $(document).ready(function () {
            countries()
        })

        function myfunc() {
            // var data = document.getElementById("data").value
            var data = $("#data").val()

            $.get
                (
                    "reg",
                    { data },
                    function (rt) {
                        $("#tdata").html(rt)
                    }
                )
        }

        function search(q) {
            $.get("search", { q }, function (rt) {
                $("#searchItem").html(rt)
            })
        }

        function countries() {
            $.get("countries", {}, function (rt) {

                var options = "<option value='0'>---Select country---</option>"
                rt.clist.map(ele => {
                    options += `<option value=${ele.id}>${ele.name}</option>`
                })
                $("#country").html(options)
            })
        }

        function states(cid) {
            $.get("states", { cid }, function (rt) {

                var options = "<option value='0'>---Select State---</option>"
                rt.slist.map(ele => {
                    options += `<option value=${ele.id}>${ele.name}</option>`
                })
                $("#state").html(options)
            })
        }
    </script>
</head>

<body>
    <input type="text" name="data" id="data" onkeyup="myfunc()">
    <button onclick="myfunc()">Click me</button>
    <div id="tdata"></div>

    <br>
    <hr>
    <br>

    <input type="text" name="search" id="search" placeholder="Search..." onkeyup="search(value)">
    <div id="searchItem"></div>

    <br>
    <hr>
    <br>

    <select name="country" id="country" onchange="states(value)">
        <option value="0">---Select country---</option>
    </select>

    <select name="state" id="state">
        <option value="0">---Select State---</option>
    </select>

    <select name="city" id="city">
        <option value="0">---Select City---</option>
    </select>

    <hr>

    <h2><a href="{%url 'index1'%}">CRUD APP</a></h2>

</body>

</html>